.registration-form {
  font-family: 'Noto Sans jp';
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 640px;
  max-width: 100%;
  margin: 0 auto 80px;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 20px;

  .header {
    color: #00897b;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }

  .unentered-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(182, 182, 182);
    width: 100%;
    border-radius: 4px;
    height: 54px;
    margin-top: 10px;
    span {
      font-size: 24px;
      font-weight: 700;
      margin-left: 8px;
    }
  }

  .container {
    padding: 24px 0px 0px 0px;

    .item {
      margin-bottom: 16px;
      * {
        margin-bottom: 8px;
      }

      label.optional {
        &::after {
          content: 'Optional';
          color: white;
          background-color: rgb(96, 125, 139);
          padding: 1px 2px;
          margin-left: 8px;
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          border-radius: 6px;
        }
      }
      label.required {
        &::after {
          content: 'Required';
          color: white;
          background-color: rgb(244, 67, 54);
          padding: 1px 2px;
          margin-left: 8px;
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          border-radius: 6px;
        }
      }
      .item-comment {
        color: rgb(153, 153, 153);
        font-weight: 400;
        font-size: 13px;
        margin-top: 5px;
        line-height: 0.9;
      }

      .item-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
      .form-check {
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 4px;
        padding: 8px;

        .form-check-input {
          float: unset;
          margin-left: unset;
        }
      }
    }

    .item-area {
      select {
        color: rgb(0, 0, 0);
        border-color: rgb(217, 217, 217);
        background-color: rgb(255, 255, 255);
        font-weight: 400; font-size: 16px;
      }
    }
    .item-privacy {
      a {
        text-decoration: none;
        color: rgb(251, 151, 25);
      }
    }
  }

  .action {
    button {
      padding: 10px 0;
    }
  }
}

.form-control {
  padding: 10px !important;
}