.contact {
  margin: 0px auto 80px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .form-section {
    width: 100%;
    max-width: 800px;
    .label {
      padding: 10px 0;
      color: rgb(51, 51, 51);
      display: flex;
      align-items: center;
      p {
        font-size: 18px;
        font-weight: 700;
        font-family: "Noto Sans JP";
        height: 27px;
      }
      span {
        color: rgb(91, 92, 100);
        margin-left: 10px;
        font-size: 14px;
        font-weight: 700;
        height: 21px;
      }
    }
    input {
      width: 100%;
      color: rgb(36, 37, 40);
      padding: 10px 20px;
      border: 1px solid rgba(36, 37, 40, 0.7);
      border-radius: 4px;
      font-size: 16px;
      font-weight: 500;
      &::placeholder {
        color: #B7B8BA;
        font-weight: 700;
      }
    }
  }
  a.privacy {
    color: rgba(36, 37, 40, 0.7);
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    text-decoration: 1px solid underline rgba(36, 37, 40, 0.7);
  }
  .privacy-agree {
    font-size: 14px;
    font-weight: 500;

    input[type='checkbox'] {
      margin-right: 10px;
      backface-visibility: hidden;
      appearance: auto;
      transform: scale(2, 2);
      border: 1px solid rgb(51, 51, 51);
      width: 13px;
      height: 13px;
    }
  }
  button {
    background-color: rgb(0, 137, 123);
    padding: 10px 25px 10px 25px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    transition: all;
    transition-duration: 300ms;

    span {
      display: inline-block;
      padding: 5px;
    }

    .arrow {
      transform: rotate(-45deg);
      transition: all;
      transition-duration: 300ms;
    }

    &:hover {
      .arrow {
        transform: rotate(0deg);
      }
      background-color: #006E62;
    }
  }

  #regex,
  #valid_email,
  #please_enter_name,
  #please_enter_address,
  #please_enter_birth_year,
  #please_enter_email,
  #please_enter_phone,
  #please_enter_privacy
   {
    color: red;
    margin-top: 10px;
  }

}