RewriteEngine On

# ローカル環境および特定ディレクトリの除外
RewriteCond %{HTTP_HOST} !^localhost [NC]
RewriteCond %{HTTP_HOST} !^127.0.0.1 [NC]
RewriteCond %{REQUEST_URI} !^/taxi-mate/ [NC]
RewriteCond %{REQUEST_URI} !^/taxi-mate/lp-1 [NC]
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]